<%- include("./partials/header.ejs") %>

    <h1 class="heading">Covid19
        <spanc class="headtn">TAMILNADU</span>
            <span> <button class="btn btn-primary btn-sm pull-right" id="toogle" onclick="my()">DarkMode</button></span>
    </h1>

    <a href="/state">
        <div class="state pull-right">
            <svg aria-hidden="true" role="img" class="octicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M1.5 1.75a.75.75 0 00-1.5 0v12.5c0 .414.336.75.75.75h14.5a.75.75 0 000-1.5H1.5V1.75zm14.28 2.53a.75.75 0 00-1.06-1.06L10 7.94 7.53 5.47a.75.75 0 00-1.06 0L3.22 8.72a.75.75 0 001.06 1.06L7 7.06l2.47 2.47a.75.75 0 001.06 0l5.25-5.25z"></path></svg>            see statewise details
        </div>
    </a>

    <div>
        <p class="Time">
            <svg aria-hidden="true" role="img" class="octicon" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zm.5 4.75a.75.75 0 00-1.5 0v3.5a.75.75 0 00.471.696l2.5 1a.75.75 0 00.557-1.392L8.5 7.742V4.75z"></path></svg>            Last updated:
            <%=tData.statewise[2].lastupdatedtime%>
        </p>
    </div>

    <div class="flex-container">
        <div class="con">
            <p class="mcon">confirmed</p>
            <%=JSON.stringify(sData.TN.total.confirmed)%>
                <div id="tcon">
                    <% if(tData.statewise[2].deltaconfirmed==0){ %>
                        <%}else{%>+
                            <%=tData.statewise[2].deltaconfirmed%>
                                <%} %>
                </div>
        </div>
        <div class="tes">
            <p class="mtes">Active</p>
            <%=tData.statewise[2].active%>
        </div>
        <div class="rec">
            <p class="mrec">Recovered</p>
            <%=JSON.stringify(sData.TN.total.recovered)%>
                <div id="trec">
                    <% if(tData.statewise[2].deltarecovered==0){ %>
                        <%}else{%>+
                            <%=tData.statewise[2].deltarecovered%>
                                <%} %>
                </div>
        </div>
        <div class="dec">
            <p class="mdec">Deceased</p>
            <%=JSON.stringify(sData.TN.total.deceased)%>
                <div id="tdec">
                    <% if(tData.statewise[2].deltadeaths==0){ %>
                        <%}else{%>+
                            <%=tData.statewise[2].deltadeaths%>
                                <%} %>
                </div>
        </div>
    </div>

    <%var District=[]%>
        <% dis= Data[ "Tamil Nadu"][ 'districtData']%>
            <% for (const [key] of Object.entries(dis)) { %>
                <%District.push(`${key}`) %>
                    <%}%>
                        <div>
                            <table class=" table-hover table-striped table-responsive">
                                <tr>
                                    <th scope="col" class="head">District</th>
                                    <th scope="col" class="head Confirmed">Confirmed</th>
                                    <th scope="col" class="head Active">Active</th>
                                    <th scope="col" class="head Recovered">Recovered</th>
                                    <th scope="col" class="head">Death</th>
                                </tr>
                                <% District.forEach(function(x){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= x %>
                                        </th>
                                        <td>
                                            <div class="confirm">
                                                <% if(dis [ x ] ['delta'] ['confirmed']=='0'){ %>
                                                    <p class="zero"></p>
                                                    <%}else{%>
                                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                                        <%=dis [ x ] ['delta'] ['confirmed']  %>
                                                            <%} %>
                                            </div>
                                            <%= dis [ x ] ['confirmed'] %>
                                        </td>
                                        <td>
                                            <%= dis [ x ] ['active'] %>
                                        </td>
                                        <td>
                                            <div class="recover">
                                                <% if(dis [ x ] ['delta'] ['recovered']=='0'){ %>
                                                    <p></p>
                                                    <%}else{%>
                                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                                        <%=dis [ x ] ['delta'] ['recovered']  %>
                                                            <%} %>
                                            </div>
                                            <%= dis [ x ] ['recovered'] %>
                                        </td>
                                        <td>
                                            <div class="dece">
                                                <% if(dis [ x ] ['delta'] ['deceased']=='0'){ %>
                                                    <p></p>
                                                    <%}else{%>
                                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                                        <%=dis [ x ] ['delta'] ['deceased']  %>
                                                            <%} %>
                                            </div>
                                            <%= dis [ x ] ['deceased'] %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </table>
                            <!--state wise-->
                            <!--State-->
                            <script>
                                // Select the button
                                var but = document.getElementsByClassName("toggle");
                                // Select the stylesheet <link>
                                var theme = document.getElementById("theme");

                                // Listen for a click on the button
                                function my() {
                                    // If the current URL contains "ligh-theme.css"
                                    if (theme.getAttribute("href") == "/public/stylesheet/main.css") {
                                        // ... then switch it to "dark-theme.css"
                                        theme.href = "/public/dark.css";
                                        document.getElementById("toogle").innerHTML = "light mode"
                                            // Otherwise...
                                    } else {
                                        // ... switch it to "light-theme.css"
                                        theme.href = "/public/stylesheet/main.css";
                                        document.getElementById("toogle").innerHTML = "DarkMode"
                                    }
                                };
                            </script>

                            <!--
                                <% district=Data[ "Tamil Nadu"][ 'districtData'] %>
                                    <div class="container-fluid">
                                        <table class=" table-hover table-striped table-responsive">
                                            <tr>
                                                <th scope="col" class="head">District</th>
                                                <th scope="col" class="head ">Confirmed</th>
                                                <th scope="col" class="head">Active</th>
                                                <th scope="col" class="head">Recovered</th>
                                                <th scope="col" class="head">Death</th>
                                            </tr>
                                            <tr>
                                                <th scope="row">Chennai</th>
                                                <td>
                                                    <% a= JSON.stringify(district['Chennai']['delta']['confirmed']) %>
                                                        <% if(a=='0'){ %>
                                                            <p>
                                                            </p>
                                                            <%} else{%>
                                                                <div class="confirm">
                                                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                                                    <%= a %>
                                                                </div>
                                                                <% }%>

                                                                    <%- JSON.stringify(district['Chennai']['confirmed']) %>
                                                </td>
                                                <td>
                                                    <%- JSON.stringify(district['Chennai']['active']) %>
                                                </td>
                                                <td>
                                                    <% a= JSON.stringify(district['Chennai']['delta']['recovered']) %>
                                                        <% if(a=='0'){ %>
                                                            <p>
                                                            </p>
                                                            <%} else{%>
                                                                <div class="recover">
                                                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                                                    <%= a %>
                                                                </div>
                                                                <% }%>

                                                                    <%- JSON.stringify(district['Chennai']['recovered']) %>
                                                </td>
                                                <td>
                                                    <% a= JSON.stringify(district['Chennai']['delta']['deceased']) %>
                                                        <% if(a=='0'){ %>
                                                            <p>
                                                            </p>
                                                            <%} else{%>
                                                                <div class="dece">
                                                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                                                    <%= a %>
                                                                </div>
                                                                <% }%>

                                                                    <%- JSON.stringify(district['Chennai']['deceased']) %>
                                                </td>
                                            </tr> -->
                            <%- include("./partials/footer.ejs") %>
